html {
  background-color: #000;
  color: #fff;
}

.third {
  background-color: #b0202e;
}

strong {
  background-color: #104547;
}

.two {
  font-family: "Passion One", sans-serif;
}

.one {
  font-family: "Gloria Hallelujah", sans-serif;
}
